/*
 *  Draco HTML Template by @flamekaizar
 *  License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", serif;
  color: #143aa2;
}

a, p, li {
  font-family: "Arial", Arial, sans-serif;
  color: black;
  font-size: 17px;
  line-height: 1.75em; }

a:hover {
  text-decoration: none !important;
  color: #f37335  !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.container {
  margin: auto;
  max-width:750px;
  padding: 0 20px;
 }

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main-nav {
  background: #0e2e89;
  padding-top: 23px; }
  .main-nav nav ul li a {
    color: white; }
  .main-nav nav ul li.active a {
    color: #f37335;
    font-weight: bold; }

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
  .section .container:after {
    position: absolute;
    left: 20px; }
  .section .container h1 {
    text-transform: uppercase;
    position: relative; }

.intro {
  padding: 0px 0px 70px 0px;
  margin-top: 120px;
  overflow-x: hidden; }
  .intro img {
    width: 250px;
    height: 250px;
    border-radius: 10px;}
  .intro h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f4f4f4; }
  .intro h1 span {
    font-size: 29px; }

    .work{
      margin-top: 120px;
    }
.work .work-list {
  margin-left: 0px; }
  
  .work .work-list li {
    list-style: none;
    font-size: 17px;
    color: black; }
    .work .work-list li a {
      padding-bottom: 5px;
      font-size: 1.1875em;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333;
      }
      .work .work-list li:first-child {
        font-weight: bold;
        color: #676767;
        font-size: 15px!important;
        }
      .work .work-list li:nth-child(2) {
            color: #f37335;
            font-weight: bold;
            font-size: 18px;
        }

        .work .work-list li:nth-child(3) {
          font-size: 16px;
          color: #676767;
      }
.award {
  margin-top: 120px;
}
.award .award-list {
  margin-left: 0px; }
  .award .award-list li:first-child {
    font-size: 15px;
    color: #676767;
    font-weight: bold; }

    .award .award-list li:nth-child(2) {
      color: #f37335;
      font-weight: bold;
      font-size: 18px;
    }
      .award .award-list li:nth-child(3) {
        font-size: 16px;
        color: #676767; }

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #f37335; }

    .skills{
      margin-top: 50px;
    }

    

.quote {
  background: url(../img/bg.jpg);
  padding: 20px 0px;
  margin-top: 120px; }
  .quote h1 {
    margin: 100px 0px;
    padding: 40px 20px;
    border: 5px solid #fff;
    color: #fff; }

footer {
    background-image: none;
    background-color: #143aa2;
    text-align: center;
  padding: 14px 0px 0px 0px; }
  footer .social li {
    display: inline;
    margin-left: 20px; }
    footer .social li a {
      font-size: 1.25em;
      color: #999999; }

      
.row-intro{
	display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 22px;
  justify-content: center;
}

.welcom-text{
  font-size: 1.5em;
}

.research .research-list li {
  list-style: none;
  font-size: 17px;
  color: black; }
.research .research-list li:first-child {
      color: #f37335;
      font-weight: bold;
      font-size: 18px;
 }

 .research{
  margin-top: 120px;
 }

 .main-nav{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1050;
 }

 .contact{
   border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(20, 58, 162, .14);
    padding: 10px 13px;
    margin-bottom: 15px;
  ul{
    margin-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    i{
    color:  #f37335;
    }
  }

 }
 
 .button-cv{
  font-size: 1rem;
  color: #fff !important;
  border-radius: 6px;
  padding: 7px 11px;
  background-image: linear-gradient(90deg, #ffb75b, #fca74f, #fa9644, #f6853b, #f37335);
  border: 0;
  outline: none !important;
  a{
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
  }
 }
 
 .div-shadow{
  border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(20, 58, 162, .14);
    padding: 30px;
    margin-bottom: 15px;
 }

 .grand-div{
   margin-bottom: 50px;
    margin-top: 130px;
 }

 .link a{
  color: #1890ff;
  outline: 0;
  cursor: pointer;
}
.link  a:hover {
  border-bottom: 1px solid #f37335;
}

.reference{
  margin-top: 120px;
}
.reference .reference-list {
margin-left: 0px; }

.reference .reference-list li {
list-style: none;
font-size: 17px;
color: black; }
 
  .reference .reference-list li:first-child {
    font-weight: bold;
    color: #f37335;
    font-size: 18px!important;
    }

    body {
      background-image: url(../img/shape1_b.png),
        url(../img/shape2_b.png),
        url(../img/shape_cer.png),
        url(../img/shape5_b.png);
      background-repeat: no-repeat;
      background-position: top 0px right -30px, top 80px left -30px, 
        top 750px left 150px, top 700px right 0px;
    }

    .navbar{
      display: flex;
    justify-content: center;
    }